
header {
    padding: 1rem ;
    background-color: red;
}

header > div {
    max-width: 1028px;
    margin:auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

header nav > ul {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1rem;
}

header nav > ul > li {
    list-style: none;
}

header nav > ul > li > a {
    padding: 0.5rem;
}

header address {
    display: flex;
    align-items: center;
  }

main>section {
    height: 100vh;

}

main section div {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
}

.aa {
    background-color: blueviolet;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.aa h1{
    font-size: 1cm;
}
.aa h3{
    font-size: 2cm;
}

/* .ab {
    background-color: aqua;
    flex: 1;
} */
.ac {
    background-color: blueviolet;
    flex: 1;
    
}
.ac h2{
    font-size: 1cm;
}
.ac h3{
    font-size: 2cm;
}

.ad {
    background-color: aqua;
    flex: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}