:root {
    --primary-color: #fff;
    --secondary-color-1: #ebf8ff;
    --secondary-color-2: #fff5d2;
    --secondary-color-3: #f3fbff;
    --secondary-color-4: #f3eeff;
    --Neutral-color-100: #ffffff;
    --Neutral-color-200: #f6f7ff;
    --Neutral-color-300: #eff0f6;
    --Neutral-color-400: #d9dbe9;
    --Neutral-color-500: #b2b4c4;
    --Neutral-color-600: #777990;
    --Neutral-color-700: #4e4b66;
    --Neutral-color-800: #14142b;
}

body {
    font-size: 1.125rem;
    line-height: 1.777em;
    font-weight: 500;
    color: var(--Neutral-color-600);
    margin: 0;
}

h1 {
    font-size: 3.778em;
    line-height: 68px;
    font-weight: 700;
    color: var(--Neutral-color-800);
}

h2 {
    font-size: 2.333em;
    line-height: 42px;
    font-weight: 700;
    color: var(--Neutral-color-800);
}

h3 {
    font-size: 1.333em;
    line-height: 28px;
    font-weight: 700;
    color: var(--Neutral-color-800);
}

h4 {
    font-size: 1.222em;
    line-height: 22px;
    font-weight: 700;
    color: var(--Neutral-color-800);
}

h5 {
    font-size: 1em;
    line-height: 18px;
    font-weight: 700;
    color: var(--Neutral-color-800);
}

h6 {
    font-size: 0.889em;
    line-height: 16px;
    font-weight: 700;
    color: var(--Neutral-color-800);
}

p.small {
    font-size: 8.333em;
    line-height: 1.6em;
}

p.large {
    font-size: 1.22em;
    line-height: 1.818em;
}


header {
    padding: 1rem;
    /* background-color: red; */
}

header>div {
    max-width: 1028px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav>ul {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1rem;
}

header nav>ul>li {
    list-style: none;
}

header nav>ul>li>a {
    padding: 0.5rem;
}

header address {
    display: flex;
    align-items: center;
}

/* main>section {
    height: 100vh;
}

main section div {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
} */
.temp2 {
    display: flex;
    margin: 20vh auto;
    overflow: hidden;
    flex-direction: column;
    border-radius: 20px;
    box-sizing: border-box;

}
.wrapper {
    height: 655px;
    width: 1350px;
    /* background: var(--Neutral-color-500); */
    display: flex;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 1.5rem;
    align-items: flex-start;
    overflow: hidden;
}

/* .wrapper div {
    width: 1280px;
    margin: 0 auto;
    display: flex;
} */

.wrapper p{
    
    margin: 0 auto;
    align-items: flex-start;
    overflow: hidden;
}
.wrap{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
    height: auto;
    width: 1350px;
    /* background: var(--Neutral-color-500); */
    border-radius: 20px;
    box-sizing: border-box;
    padding: 1.5rem;
    align-items: flex-start;
    overflow: hidden;
    margin: 10vh auto;

}


.aa {
    /* background-color: blueviolet; */
    display: flex;
    flex: auto;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    height: 655px;
}


.ab {
    /* background-color: aqua; */
    display: flex;
    flex: auto;
    box-sizing: border-box;
    /* height: 100vh; */
}

.pack {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 2rem;
    /* background-color: var(--Neutral-color-700); */
    grid-column-gap: 48px;
    grid-row-gap: 40px;
    box-sizing: border-box;
    max-width: 1150px;
    margin: 20vh auto;
    padding: 0 1.5rem;
    justify-content: space-around;
}

.title-services {
    max-width: 750px;
    text-align: center;
    margin: 0 auto;
    padding-right: 24px;
    padding-left: 24px;
    background-color: #fff;
    grid-column: span 2;
}

.title-services>h2 {
    margin: 0;
    margin-bottom: 1rem;
}

.title-services>p {
    margin: 0;
    margin-bottom: 0.5rem;
}

.card {
    background: var(--Neutral-color-400);
    display: flex;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 1.5rem;
    align-items: flex-start;
    overflow: hidden;
    /* justify-content: center; */
}

.img {
    border-radius: 20px;
    margin-right: 24px;
    /* height: 100%;
    width: 100%; */
}

/* .wrapper img {
    border-radius: 20px;
} */


.card h3 {
    margin-bottom: 16px;
}

.ac {
    /* background-color: blueviolet; */
    flex: 1;
    margin-right: 16px;
    box-sizing: border-box;
    

}

.ad {
    /* background-color: aqua; */
    flex: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-sizing: border-box;
}

.btn {
    border-style: none;
    padding: 24px 60px;
    background-color: var(--Neutral-color-800);
    color: var(--Neutral-color-100);
    border-radius: 80px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    transition: all 300ms ease;
}

.btn:hover {
    background-color: var(--Neutral-color-200);
    color: var(--Neutral-color-800);
    transform: translate3d(0px, -6px, 0.01px);
}
  
.btn--large {
    padding: 20px 68px;
    font-size: 22px;
    line-height: 24px;
}
  
.btn--small {
    padding: 14px 32px;
    font-size: 16px;
    line-height: 18px;
}

.rbt {
    height: 74px;
    width: 74px;
    background-color: var(--Neutral-color-300);
    border-radius: 100%;
    transition: all 300ms ease;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rbt:hover {
    background-color: var(--Neutral-color-800);
    transform: translate(0px, -6px);
}

.rrbt {
    transform: rotate(90deg);
}

.rlbt {
    transform: rotate(-90deg);
}
  
.rbt:hover svg {
    fill: var(--Neutral-color-100);
}