.box{
    background-color: aqua;
    /* height: 100px;
    width: 100px; */
}

.a1{
    gap: 1rem;
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(5,200px);
    grid-template-rows: repeat( 2,200px) ;
    
}

.a1>:nth-child(2){
    grid-column: span 2;
    grid-row: span 2;
}

.a2{
    gap: 1rem;
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(6,100px);
    grid-template-rows: repeat( 4,100px) ;
    
}

.a2>:nth-child(1){
    grid-column: span 2;
}

.a2>:nth-child(3){
    grid-column: span 2;
    grid-row: span 2;
}

.a2>:nth-child(5){
    grid-row: span 2;
}

.a2>:nth-child(6){
    grid-column: span 2;
}

.a2>:nth-child(7){
    grid-row: span 2;
}

.a2>:nth-child(9){
    grid-row: span 2;
    grid-column: span 2;
}

.a2>:nth-child(13){
    grid-column: span 2;
}

.a2>:nth-child(even){
    background-color: brown;
}

.a3{
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(6,100px);
    grid-template-rows: repeat( 6,100px) ;
}

.a3>:nth-child(1){
    grid-column: span 2;
    grid-row: span 2;
    background-color: black;
}

.a3>:nth-child(2){
    grid-column: span 2;
    grid-row: span 2;
    background-color: greenyellow;
}

.a3>:nth-child(3){
    grid-column: span 2;
    grid-row: span 2;
    background-color: black;
}

.a3>:nth-child(4){
    grid-column: span 2;
    background-color: greenyellow;
}

.a3>:nth-child(5){
    grid-column: span 2;
    background-color: black;
}

.a3>:nth-child(6){
    grid-column: span 2;
    background-color: greenyellow;
}

.a3>:nth-child(7){
    grid-row: span 2;
    background-color: greenyellow;
}

.a3>:nth-child(8){
    grid-row: span 2;
    grid-column: span 4;
    background-color: black;
}

.a3>:nth-child(9){
    grid-row: span 2;
    background-color: greenyellow;
}

.a3>:nth-child(10){
    background-color: greenyellow;
}

.a3>:nth-child(11){
    background-color: black;
}

.a3>:nth-child(12){
    background-color: greenyellow;
}

.a3>:nth-child(13){
    background-color: greenyellow;
}

.a3>:nth-child(14){
    background-color: black;
}

.a3>:nth-child(15){
    background-color: greenyellow;
}